<div>
	<li>
		<span style="font-size:12px;color:#888"><%= time_ago_in_words(comment.created_at) %> ago</span>	
		<p style="font-size:14px;color:maroon;">
			<%= comment.content_body %>
		</p>
	</li>
</div>